<h1>Select a NODE</h1>
<!--passed in an array that takes the @apn (:apn_id), @contact objects there were declared from the node controller def new -->
<div class="row">
  <div class="large-6 columns">
    <%= form_for [@apn, @node] do |f| %>
        <%= render 'node_selection', f: f %>
    <% end %>
  </div>
</div>
