<h1><%= @apn.apn_name %> APN Form</h1>



<p>Template for this show</p>

<div class="row">

  <div class="large-3 columns">
    <div class="panel">
      <h5>Contact Information</h5>
      <p>Contact Name: </p>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="panel">
      <h5>Panel Title</h5>
      <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
    </div>
  </div>
  <div class="large-3  columns">
    <div class="panel">
      <h5>Panel Title</h5>
      <p>This is a three columns grid panel with an arbitrary height.</p>
    </div>
  </div>

</div>

