<h1>Contact Information</h1>

<div class="row">
    <div class="large-6 columns">
      <%= link_to "Add Contact", new_apn_contact_path(@apn) %>
      <ul>
        <table class="Contact Table">
          <thead>
          <th>Contact Name:</th>
          <th>Contact Type:</th>
          <th>Edit APN Information:</th>
          </thead>
          <tbody>
              <% @contacts.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td>
                      <%if c.technical_contact? %>
                              Technical Contact
                      <% else if c.business_contact? %>
                              Business Contact
                      <% end %>
                    </td>
                    <td><%= button_to "Edit contact" , edit_apn_contact_path[:apn_id, @apn.contact.id], :method => "get" %></td>
                  </tr>
              <% end %>


          </tbody>
        </table>

      </ul>

    </div>
</div>
<% end %>