<h1>Contact Information</h1>

<div class="row">
    <div class="large-6 columns">
      <ul>
        <table class="Contact Table">
          <thead>
          <th>Contact Name:</th>
          <th>Contact Type:</th>
          <th>Edit APN Information:</th>
          </thead>
          <tbody>
              <% @contacts.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td>Place Holder for Contact Type</td>
                    <td><%= button_to "Edit contact" , edit_contact_url(apn.id), :method => "get" %></td>
                  </tr>
              <% end %>
          </tbody>
        </table>
      </ul>
    </div>
</div>
